#wrapper_template {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.wrapper_feature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    width: 250px;
    height: 250px;
    border: solid rgba(128,128,128,0.7) 1px;
}

.price_feature {
    margin: 0;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;

    height: 20px;
}

.title_feature {
    width: 250px;
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
    color: var(--main-gray);
}

.number_articles_text {
    margin: 0;
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;

    height: 20px;
}

.features_scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: 0 3%;
}

.features_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3%;
}

.title_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#notre_selection, #vente_flash_mode {
    margin-bottom: 15px;
}

.item1 {
    height: 72%;
}

.rect_hover {
    text-decoration: none;
    width: 250px;
    height: 250px;
}

.svg_title {
    height: 50%;
}