@font-face {
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}
:root {
    /* https://stackoverflow.com/questions/4847850/is-it-possible-to-define-constants-in-css */
    --main-color : #007178;
    --second-color : #A3106D;
    --main-gray : #505050;
    --second-gray : #2D2D2D;

    --font-main:'Raleway', sans-serif;
}

html, body {
    min-width: 1200px;
    margin: 0;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    background-color: rgba(0,0,0,0.3);
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 7%;

    background-color: white;
    font-family: var(--font-main);
    font-weight: 100;
}

.item_section_vertical {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}
.title_section {
    color: var(--main-gray);
    font-weight: 100;
    font-size: 2em;
    text-align: initial;
}

.input_text {
    height: 30px;
    margin: 5px 0;
    border: 1px rgba(128,128,128,0.7) solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding-left: 10px;
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 1.1em;
}

.input_btn, input[type=submit] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 0;
    margin: 5px 33%;
    background: none;

    border: 0.5px var(--main-color) solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    cursor:pointer;

    font-size: 1.3em;
    font-weight: 100;
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--font-main);

    -webkit-transition: background-color 0.25s, color 0.25s;
    -moz-transition: background-color 0.25s, color 0.25s;
    -ms-transition: background-color 0.25s, color 0.25s;
    -o-transition: background-color 0.25s, color 0.25s;
    transition: background-color 0.25s, color 0.25s;
}

.input_btn {
    background-color: white;
    border-color: #A3106D;
}

.blue {color: var(--main-color); background-color: white;}
.blue:hover { background-color: var(--main-color); color: white;}

.pink {color: var(--second-color); background-color: white;}
.pink:hover { background-color: var(--second-color); color: white; }

.horizontal_separator_item {
    margin: 25px 7%;
}

.important_text { font-style: italic; color: var(--second-color); }
.bold_text { font-style: normal; color: black; font-weight: 600;}
.normal_text { font-style: normal; color: var(--main-gray); font-weight: 100;}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rect_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: initial;
    top: initial;

    opacity: 0;
    background-color: black;

    text-align: center;

    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.rect_hover h1 {
    margin: 0;
    font-weight: 100;
    font-size: 3em;
    font-family: var(--font-main);
    color: white;
}
.rect_hover:hover {
    opacity: 0.7;
}