.cat_item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 1% 0;

    height: 250px;
}

.pic {
    position: relative;
    width: 70%;
}

.section_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.4em;
    font-family: var(--font-main);
    font-weight: 100;
    width: 25%;
}
.section_side a {
    color: var(--main-gray);
    text-decoration: none;
    margin: 5px 0;
}
.section_side a:hover {
    color: var(--main-color);
}
