@font-face {
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}
:root {
    /* https://stackoverflow.com/questions/4847850/is-it-possible-to-define-constants-in-css */
    --main-color : #007178;
    --second-color : #A3106D;
    --main-gray : #505050;
    --second-gray : #2D2D2D;

    --font-raleway:'Raleway', sans-serif;
}

html, body {
    min-width: 1200px;
}

#main_wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 7%;

    font-family: var(--font-raleway);
    font-weight: 100;
}

.cat_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 1% 0;

    height: 250px;
}

.pic {
    position: relative;
    width: 70%;
}

.rect_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: initial;
    top: initial;

    opacity: 0;
    background-color: black;

    text-align: center;

    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.rect_hover h1 {
    margin: 0;
    font-weight: 100;
    font-size: 3em;
    color: white;
}
.rect_hover:hover {
    opacity: 0.7;
}

.section_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.4em;
    width: 25%;
}
.section_side a {
    color: var(--main-gray);
    text-decoration: none;
    margin: 5px 0;
}
.section_side a:hover {
    color: var(--main-color);
}

.fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
