textarea {
    height: 100px ;
}

.sign_in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4% 5%;
}

.sign_in_title {
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    color: var(--main-gray);
    margin: 0 0 15px 0;
}

#form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item_section_vertical:first-child {margin-top: 50px;}
#bank_info_section {margin-bottom: 50px;}

#buyer, #seller {margin-left: 10px;}
#category_selection p {
    margin: 0 0 10px 0;
    color: var(--main-gray);
    font-size: 1.1em;
}

.input_btn, input[type=submit] {
    margin: 5px 33%;
}

#identity_group { display: flex; flex-direction: row; justify-content: space-between; }
#surname { flex: 1; margin-right: 5px; }
#firstname { flex: 1; margin-left: 5px; }

#adress_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#postal_code, #country{ width: 20%;}
#city { width: 45%; }

#bank_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#validity, #secret_number { width: 25%; margin: 0 5px; padding: 1px 1px 1px 10px;}

.field_margin { margin: 5px 20%; }