#section_wrapper {
    display: flex;
    flex-direction: row;
}

#section_wrapper img {
    /* code permettant de faire un rond
       source: https://stackoverflow.com/questions/8473443/center-an-image-in-a-css-circle
    */
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    align-self: center;
    margin: 5px 10px;
}

.line_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
#infos_1 p { margin-bottom: 0; margin-top: 0; }
#btn_modifier { align-self: center; margin-right: 0;}
#btn_modifier { align-self: center; margin-right: 0;}

.line_item {
    margin-right: 20px;
}

#infos_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

#btn_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn_deconnection {
    margin-top: 10px;
}